.doctor-card {
    text-align: left;
    width: 40vw;
    padding: 20px;
    margin-top: 20px;
}
.doctor-name {
    padding-bottom: 20px;
    font-size: larger;
}
.rating {
    padding-bottom: 10px;
}
.doctor-details {
    margin-left: 20px !important;
    width: 200px !important;
    background-color: #3d8116 !important;
    color: #fff !important;
}